.question {
	border-style: solid;
	border-color: purple;
	border-radius: 20px;

	margin: 15px;
	padding: 20px;

	transition: border-color 0.5s, border-radius 0.5s;
}

.question:hover {
	border-color: green;
	border-radius: 30px;
}

b {
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
}

.option {
	display: inline-block;
	margin-bottom: 10px;
	border-width: 1px;
	border-radius: 3px;
	padding: 8px;

	transition: opacity 0.15s;
}

.option:hover {
	opacity: 0.7;
}