<!DOCTYPE html>
<html lang="uk">
{% load static %}
{% load sort %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Advanced search' %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/advanced_search.css' %}">
</head>
<body>
    <form action="{% url 'filter' %}">
        {# csrf_token #}
        <h1>{% trans 'Filters' %}</h1>

        <div class="upper-filter">
            <p>{% trans "Search by name" %}</p>
            <input type="text" name="search" placeholder="{% trans 'Input quiz name' %}">
        </div>

        <div class="upper-filter">
            <p>{% trans 'Question amount' %}</p>
            <label>{% trans 'From' %}</label>
            <input type="number" name="min-questions" min="0" class="number-input">
            <label>{% trans 'to' %}</label>
            <input type="number" name="max-questions" min="1" class="number-input">
        </div>

        <div class="upper-filter">
            <label>{% trans "Fine for" %}</label>
            <input type="number" name="for-age" class="number-input" max="99" min="1">
            <label>{% trans "years of age" %}</label>
        </div>

        <div class="tags">
            <h2>{% trans 'Tags' %}</h2>

            <table>
                {% for row in tags %}
                    <tr>
                        {% for t in row %}
                            <td><input type="checkbox" name="{{ t.tag }}"><label>{{ t.localized_uk_ua }}</label></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <input type="submit" value="{% trans 'Apply filters' %}" class="submit">
    </form>
    <a href="{% url 'index' %}"><button class="submit">{% trans 'Home' %}</button></a>
</body>
</html>