<!DOCTYPE html>
<html>
{% load static %}
{% load sort %}
{% load i18n %}
{% load form_extras %}
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Advanced search' %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/advanced_search.css' %}">
</head>
<body>
    <form method="get" action="{% url 'filter' %}">
        <h1>{% trans 'Filters' %}</h1>

        <div class="upper-filter">
            <p>{% trans "Search by name" %}</p>
            {{ form.search }}
        </div>

        <div class="upper-filter">
            <p>{% trans 'Question amount' %}</p>
            <label>{{ form.min_questions.label }} </label>{{ form.min_questions }}
            <label>{{ form.max_questions.label }} </label>{{ form.max_questions }}
        </div>

        <div class="upper-filter">
            <label>{% trans "Fine for" %}</label>
            {{ form.for_age }}
            <label>{% trans "years of age" %}</label>
        </div>

        <div class="tags">
            <h2>{% trans 'Tags' %}</h2>
            <table>
                {% for row in tag_table %}
                    <tr>
                        {% for t in row %}
                            <td>
                                {% with form|field:t.tag as tag_field %}
                                    {{ tag_field }}
                                    <label for="{{ tag_field.id_for_label }}">{{ tag_field.label }}</label>
                                {% endwith %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

        </div>

        <input type="submit" value="{% trans 'Apply filters' %}" class="submit">
    </form>

    <a href="{% url 'index' %}">
        <button class="submit">{% trans 'Home' %}</button>
    </a>
</body>
</html>