<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Oops...' %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/soon.css' %}">
</head>
<body>
    <p>{% trans 'Oops, seems like your filters are invalid... Check them one more time!' %}</p>
    <div class="return-to-main">
        <a href="{% url 'advanced_search' %}"><button class="submit">{% trans 'Back to filters' %}</button></a>
    </div>
</body>
</html>