<!DOCTYPE html>
{% load static %}
{% load shuffle %}
{% load i18n %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ quiz_name }} | SuperQuizzes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/form.css' %}">
</head>
<body>
    <form action="{% url 'result' %}" method="post">
    {% csrf_token %}

    {% for field in form|shuffle %}
        {% if field.name not in "quiz_id completed_as start_time" %}
            <div class="question">
                <h1>{{ field.label }}</h1>
                {% for radio in field|shuffle %}
                    <div class="option">
                        <label for="{{ radio.id_for_label }}">
                            {{ radio.tag }}
                            <b class="color-box transparent-box">{{ radio.choice_label }}</b>
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    {{ form.quiz_id }}
    {{ form.completed_as }}
    {{ form.start_time }}

    <input type="submit" value="{% trans 'Result' %}" class="submit">
</form>

</body>
</html>