<!DOCTYPE html>
{% load static %}
{% load formtags %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ quiz.name }} - вікторина від SuperQuizzes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/form.css' %}">
</head>
<body>
    <form action="result" method="post">
        {% for q in quiz.questions.all %}
            <div class="question">
                <h1>{{ q.question }}</h1>
                {% with '{{ q.right_answer }}, {{ q.wrong_answer1 }}, {{ q.wrong_answer2 }}, {{ q.wrong_answer3 }}]' as answers %}
                {% for v in answers.split|shuffle %}  {# TODO shuffle correctly #}
                <div class="option">
                    <input type="radio" name="{{ q.question }}" value="{{ v }}" required><b class="color-box" style="background-color: rgb({{ randcolor }}, {{ randcolor }}, {{ randcolor }});">{{ v }}</b>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        {% endfor %}
        <br>
        <input type="submit" value="Результат" class="submit">
    </form>
</body>
</html>