{% extends "home/index.html" %}
{% load is_form %}
{% load i18n %}
{% block quiz_list %}
    {% for quiz in quizzes %}
        <div class="quiz-label">
            <h2 class="quiz-name">{{ quiz.name }}</h2>
            <p>
                {% trans 'From' %} <b class="color-box green-box">{{ quiz.min_age }}</b> {% trans 'up to' %} <b class="color-box red-box">{{ quiz.max_age }}</b> {% trans 'years of age' %}
            </p>
            <p><b class="color-box blue-box">{{ quiz.questions.all|length }}</b> {% trans 'questions' %}</p>
            <a href="{% url 'form' quiz.id %}"><button class="complete complete-as-form">{% trans 'Attempt as a form' %}</button></a>
            <a href="{% url 'quiz' %}?id={{ quiz.id }}"><button class="complete complete-as-quiz">{% trans 'Attempt as a quiz' %}</button></a>
            {# &#127991 - tag emoji #}
            <div class="tag-space">
                <ul>
                    {% for tag in quiz.tags.all %}
                        <li class="color-box {{ color_classes|random }}">&#127991 {{ tag.localized_uk_ua }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="additional-info">
                <p>{% trans 'Global attempts' %}:</p>
                <ul>
                    <li class="completed-times">{% trans 'Form' %}: {{ quiz.completions|is_form|length }}</li>
                    <li class="completed-times">{% trans 'Quiz' %}: {{ quiz.completions|is_quiz|length }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}