{% extends "home/index.html" %}
{% load is_form %}
{% block quiz_list %}
    {% for quiz in quizzes %}
        <div class="quiz-label">
            <h2 class="quiz-name">{{ quiz.name }}</h2>
            <p>
                Від <b class="color-box green-box">{{ quiz.min_age }}</b> років до <b class="color-box red-box">{{ quiz.max_age }}</b> років
            </p>
            <p><b class="color-box blue-box">{{ quiz.questions.all|length }}</b> запитань(ня)</p>
            <a href="{% url 'form' quiz.id %}"><button class="complete complete-as-form">Проти як форму</button></a>
            <a href="{% url 'quiz' %}?id={{ quiz.id }}"><button class="complete complete-as-quiz">Проти як квіз</button></a>
            {# &#127991 - tag emoji #}
            <div class="tag-space">
                <ul>
                    {% for tag in quiz.tags.all %}
                        <li class="color-box {{ color_classes|random }}">&#127991 {{ tag.localized_uk_ua }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="additional-info">
                <p>Проходження:</p>
                <ul>
                    <li class="completed-times">Форма: {{ quiz.completions|is_form|length }}</li>
                    <li class="completed-times">Квіз: {{ quiz.completions|is_quiz|length }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}