<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Soon...' %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/soon.css' %}">
</head>
<body>
    <p>{% trans 'This part of SupperQuizzes is being developed...' %}</p>
    <div class="return-to-main">
        <a href="{% url 'index' %}"><button class="submit">{% trans 'Home' %}</button></a>
    </div>
</body>
</html>