.upper-filter {
	display: inline-block;
	justify-content: center;
	vertical-align: middle;
	margin: 20px;
}

.number-input {
	width: 30px;
	margin: 5px;
}


table {
	text-align: left;
	margin: auto;
	padding: 20px;
}

td {
	padding: 10px;
}